@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
}
.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.container header{
    font-size: 28px;
    font-weight: 600;
    color: #333;
    text-align: center;
    border-bottom: 2px solid #333; 
    margin-bottom: 20px;
}

.container form .campos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .entrada{
    display: flex;
    width: calc(100% / 2 - 15px);
    flex-direction: column;
    margin: 8px 0;
}
.entrada label{
    font-size: 22px;
    font-weight: 500;
    color: #242424;
}

.entrada input,select{
    outline: none;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 2px solid #aaa;
    padding: 0 15px;
    height: 42px;

}
#titulo{
	padding: 10px;
    background-color: #4070f4;
    margin: 15px 60px 10px 60px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}
#tabela{
	margin: auto;
    border-collapse: collapse;
}

th{
	background-color: #8ddffa ;
	
	
}

th, td{
	padding: 10px;
	text-align: center;
	
}

tr:nth-child(even){
	background-color: #dfdfdf;
}

tr:hover{
	background-color: #979797;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    padding: 0 20px 0 20px;
    margin: 15px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
    font-size: 24px;
    
}

form .botao:hover{
    background-color: #265df2;
}

.botaoContainer {
    display: flex;
    justify-content: center;
}

